<div class="cart-container">
      <h1>Cart</h1>
      <div *ngIf="cartItems.length === 0" class="empty-cart">
        Your cart is empty.
      </div>
      <div *ngFor="let item of cartItems" class="cart-item">
        <img [src]="item.image" alt="{{ item.name }}">
        <h3>{{ item.name }}</h3>
        <p>Price: {{ item.price }}</p>
        <div class="quantity-control">
          <button (click)="decreaseQuantity(item)">-</button>
          <span>{{ item.quantity }}</span>
          <button (click)="increaseQuantity(item)">+</button>
        </div>
        <button (click)="removeFromCart(item)">Remove</button>
      </div>
      <div class="cart-summary">
        <p>Number of Products: {{ getTotalQuantity() }}</p>
        <p>Total Price: {{ getTotalPrice() | currency }}</p>
        <p>Estimated Delivery Date: {{ getEstimatedDeliveryDate() }}</p>
        <button (click)="checkout()">Checkout</button>
      </div>
      
    </div>