.cart-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    
    .cart-item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
    }
    
    .cart-item img {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }
    
    .cart-item h3 {
      margin: 0;
    }
    
    .cart-item p {
      margin: 5px 0;
    }
    
    .quantity-control {
      display: flex;
      align-items: center;
    }
    
    .quantity-control button {
      padding: 5px 10px;
      margin: 0 5px;
      font-size: 1rem;
      border: 1px solid #ddd;
      background-color: #f8f9fa;
      cursor: pointer;
    }
    
    .quantity-control button:hover {
      background-color: #e9ecef;
    }
    
    .quantity-control button:active {
      background-color: #dee2e6;
    }
    
    .quantity-control span {
      font-size: 1rem;
      padding: 0 10px;
    }
    
    .empty-cart {
      text-align: center;
      padding: 20px;
    }