header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #f1f1f1;
      font-size: 24px;
    }
    
    nav ul {
      display: flex;
      list-style-type: none;
    }
    
    nav ul li {
      margin-right: 20px;
    }
    
    nav ul li:last-child {
      margin-right: 0;
    }
    
    .fa-shopping-cart {
      margin-left: 10px;
    }