<header>
  <nav>
    <ul>
      <li><a routerLink="/catalogue" routerLinkActive="active">Catalogue</a></li>
      <li><a routerLink="/cart" routerLinkActive="active"><i class="fa fa-shopping-cart"></i> Cart</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>