<div class="catalogue-container">
      <h1>Catalogue</h1>
      <div class="catalogue">
        <div *ngFor="let product of products" class="product">
          <img [src]="product.image" alt="{{ product.name }}">
          <h3>{{ product.name }}</h3>
          <p>Weight: {{ product.weight }}</p>
          <p>Price: {{ product.price }}</p>
          <button (click)="addToCart(product)">Add to Cart</button>
          <p *ngIf="product.addedSuccessfully" class="added-successfully">Added successfully</p>
        </div>
      </div>
    </div>