.catalogue-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    
    .catalogue {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
    }
    
    .product {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }
    
    .product img {
      max-width: 100%;
      height: auto;
    }
    
    .product h3 {
      margin: 10px 0;
    }
    
    .product button {
      padding: 5px 10px;
      background-color: #0ebbeb;
      color: white;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .product button:hover {
      background-color: #028916;
    }
    
    .added-successfully {
      color: green; 
      font-size: 14px; 
      margin-top: 5px; 
    }