.order-summary-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 100vh; 
      padding-top: 20px;
      background-color: #f0f0f0;
    }
    
    .card {
      width: 400px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }
    
    .card-header {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }
    
    .card-body {
      color: #555;
    }
    
    .card-footer {
      text-align: center;
      margin-top: 20px;
      color: #008000;
    }