<div class="order-summary-container">
      <div class="card">
        <div class="card-header">
          <!-- <h1>Order Summary</h1> -->
        </div>
        <div class="card-body">
          <!-- <p>Number of Products: {{ totalQuantity }}</p>
          <p>Total Price: {{ totalPrice | currency }}</p>
          <p>Estimated Delivery Date: {{ getEstimatedDeliveryDate() }}</p> -->
    
          <h2>Customer Details:</h2>
          <p>Name: {{ name }}</p>
          <p>Email Address: {{ email }}</p>
          <p>Delivery Address: {{ deliveryAddress }}</p>
        </div>
        <div class="card-footer">
          <p>Thank you for shopping with us!</p>
        </div>
      </div>
    </div>